<!--<nav class="navbar navbar-static-left navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                <span class="glyphicon glyphicon-home"></span> Angular Gulp Seed
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li class="active"><a ng-href="#/">Inicial</a></li>
                <li><a href="#">Teste</a></li>
                <li><a href="#">Teste 2</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right acme-navbar-text">
                 Login no futuro? 
            </ul>
        </div>
    </div>
</nav>-->

<nav class="navbar navbar-default navbar-fixed-bottom col-md-3 " style=" top: 0px; background: #424242;  box-shadow: 0 0 20px rgb(107, 107, 107);" >
    <div class="row ">
      <h1 style="margin-top: 35%; font-size: 25px; color: rgb(42, 42, 42); background: rgb(255, 255, 255); padding: 20px; text-align: center">
        Comgress</h1>
    </div>
    <div class="row ">
      <div class="col-xs-12" style="margin-top: 25%;">
        <a href="#"style="font-size:2vw; color: white; tex-align: center; margin-left: 18%;">Inicio</a>
      </div>
      <div class="col-xs-12" style="margin-top: 5%;">
        <a href="#"style="font-size:2vw; color: white; tex-align: center; margin-left: 18%;">Perfil</a>
      </div>
      <div class="col-xs-12" style="margin-top: 5%;">
        <a ui-sref="evento" href= "" style="font-size:2vw; color: white; tex-align: center; margin-left: 18%;">Eventos</a>
      </div>
      <div class="col-xs-12" style="margin-top: 5%;">
        <a href="#"style="font-size:2vw; color: white; tex-align: center; margin-left: 18%;">Historial</a>
      </div>
    <div class="col-xs-12" style="margin-top: 5%;">
        <a href="#"style="font-size:2vw; color: white; tex-align: center; margin-left: 18%;">Mis eventos</a>
      </div>
      <div class="col-xs-12" style="margin-top: 5%;">
        <a href="#"style="font-size:2vw; color: white; tex-align: center; margin-left: 18%;">Salir</a>
      </div>
    </div>
   </div>
</nav>