<div class="leftpanel flex-item flex-column">
  <div class="row">
    <div class="col-xs-12 text-center brand-logo">
      <h1>COMGRESS</h1>
    </div>
  </div>
  <div class="list-item row no-margin no-padding">
    <div class="col-xs-12">
      <h3>Inicio</h3>
    </div>
  </div>
  <div class="list-item row no-margin no-padding">
    <div class="col-xs-12">
      <h3>Perfil</h3>
    </div>
  </div>
  <div ui-sref="evento" class="list-item row no-margin no-padding">
    <div class="col-xs-12">
      <h3>Eventos</h3>
    </div>
  </div>
  <div class="list-item row no-margin no-padding">
    <div class="col-xs-12">
      <h3>Mis eventos</h3>
    </div>
  </div>
  <div class="list-item row no-margin no-padding">
    <div class="col-xs-12">
      <h3>Historial</h3>
    </div>
  </div>
  <div class="list-item row no-margin no-padding">
    <div class="col-xs-12">
      <h3>Salir</h3>
    </div>
  </div>
</div>
