<section class="flex-container flex-column login">
  <div class="flex-container flex-column flex-item flex-center titulo">
    <h1>Comgress</h1>
    <h2>Tu aplicación de mierda favorita</h2>
  </div>
  <form class="form flex-container flex-column flex-center">
    <div>
      <label>Usuario</label>
    </div>
    <div>
      <input ng-model="vm.usuario" id="input-usuario" />
    </div>
    <div>
      <label>Contraseña</label>
    </div>
    <div>
      <input ng-model="vm.contrasena" id="input-contraseña" />
    </div>
    <div>
      <p ng-show="!vm.autenticado" class="warning">Usuario o contraseña incorrecta</p>
    </div>
    <div class="button-container">
      <button class="btn btn-md" ng-click="vm.autenticar()">Ingresar</button>
    </div>
  </form>
</section>
